@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&family=Open+Sans&family=Oswald:wght@300;400;500;600;700&family=Permanent+Marker&family=Raleway:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-size: 16px;

  font-family: "Oswald", sans-serif;
}

.hero {
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  /* background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%); */
  /* background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); */
  /* background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); */
  /* background: radial-gradient(circle, rgba(224,154,21,1) 0%, rgba(240,114,35,1) 95%); */
  height: 100%;
  width: 100%;
  position: relative;
}

.hero-body {
  width: 1440px;
  /* max-width: 1400px; */
  margin: 0 auto;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

header .logo a h2 {
  font-size: 2rem;
  color: white;
  font-weight: 700;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: white;
  margin-left: 60px;
  font-weight: 400;
  border-bottom: 1px solid transparent;
  transition: 0.4s;
}

nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus {
  border-bottom: solid white 2px;
}

nav ul li.active a {
  border-bottom: 2px solid white;
}
nav ul li.btn a {
  color: white;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 30px;
  font-weight: 600;
  margin-left: 150px;
}

nav ul li.btn:hover a {
  background-color: white;
  color: black;
  border: solid white 1px;
  transition: 0.4s;
}

.content {
  padding-top: 150px;
  /* display: flex;
  align-items:flex-start;
  justify-content: space-between; */
}

.content .main-text {
  padding-bottom: 50px;
  position: static;
  color: white;
}

.content .main-text h6 {
  font-size: 14px;
  padding-bottom: 30px;
}
.content .main-text p {
  font-weight: 300;
  font-size: 14px;
  width: 350px;
  padding-bottom: 40px;
}

.content .main-text h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 82px;
  padding-bottom: 20px;
}

.content .main-text a {
  color: white;
  border: 1px solid white;
  display: inline-block;
  padding: 5px 25px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.content .main-text a:hover {
  background-color: white;
  color: black;
  transition: 0.4s;
}
.content .main-text a i {
  margin-right: 10px;
}

.content .social {
  margin-top: 10px;
  color: white;
}

.content .social a i {
  color: rgb(226, 226, 226);
  margin-right: 20px;
  font-size: 18px;
}
.content .social a i:hover {
  color: white;
  transform: scale(1.4);
  transition: 0.2s;
}

.image {
  width: 900px;
  /* max-width: 50%; */
  height: 80%;
  position:absolute ;
  bottom: 0;
  right: 0;


}

.image img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  
}

.close,.open{
    display: none;
}



@media (max-width: 1024px){

  .hero {
    background: radial-gradient(circle, rgba(224,154,21,1) 0%, rgba(240,114,35,1) 95%);
    height: 100%;
    width: 100%;
    position: relative;
  }
  .hero-body {
    width: 900px;
 
    margin: 0 auto;
    height: 100vh;
    padding: 10px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
  }

  nav ul li a {
    color: white;
    margin-left: 30px;
    font-weight: 400;
    border-bottom: 1px solid transparent;
    transition: 0.4s;
  }

  .content .main-text p {
    font-weight: 300;
    font-size: 14px;
    width: 350px;
    padding-bottom: 40px;
    letter-spacing: 1px;
  }
  
  .content .main-text h1 {
    font-family: "Permanent Marker", cursive;
    font-size: 62px;
    padding-bottom: 20px;
  }

  
  .image {
     height:70%;
     width: 600px;
    
  
   }
   
   .image img {
     
     width:100%;
 
 }
  
  

}

@media (max-width: 567px) {
  .hero {
    background-image: linear-gradient(
      to right,
      #b8cbb8 0%,
      #b8cbb8 0%,
      #b465da 0%,
      #cf6cc9 33%,
      #ee609c 66%,
      #ee609c 100%
    );
    /* background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); */
    /* background: radial-gradient(circle, rgba(224,154,21,1) 0%, rgba(240,114,35,1) 95%); */
    overflow-x: hidden;
  }
  .hero-body {
    width: 375px;
 
    margin: 0 auto;
    height: 100vh;
    padding: 10px;
  }

  header {
    padding: 20px 0;
  }

  nav {
    display: none;
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0px;
    right: 0px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid white;
    /* padding: 10px 0; */
    background-color: white;
    z-index: 2;
  }

  .show{
    display: block;
  }

  .open  {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }

  .close{
    display: block;
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 20px;
    cursor: pointer;
    z-index: 4;
  }


  nav ul {
    padding: 10px;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: black;
    margin-left: 10px;
    font-weight: 400;
    border-bottom: 1px solid transparent;
    transition: 0.4s;
    font-size: 32px;
  }

  nav ul li:not(:last-child) a:hover,
  nav ul li:not(:last-child) a:focus {
    border-bottom: solid black 2px;
  }

  nav ul li.active a {
    border-bottom: 2px solid black;
  }
  nav ul li.btn a {
    display: none;
  }

  .content {
    padding-top: 20px;
    /* text-align: center; */
    position: relative;
    z-index: 1;
  }
  
  .content .main-text {
    padding-bottom:20px;
    position: static;
    color: white;
  }
  
  .content .main-text h6 {
    font-size: 14px;
    padding-bottom: 50px;
  }
  .content .main-text p {
    font-weight: 300;
    font-size: 14px;
    width: 350px;
    padding-bottom: 40px;
    margin:0 auto;
    letter-spacing: 1px;
  }
  
  .content .main-text h1 {
    font-family: "Permanent Marker", cursive;
    font-size: 48px;
    padding-bottom: 20px;
  }
  
  .content .main-text a {
    color: white;
    border: 1px solid white;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  
  .content .main-text a:hover {
    background-color: white;
    color: black;
    transition: 0.4s;
  }
  .content .main-text a i {
    margin-right: 10px;
  }
  
  .content .social {
    margin-top: 100px;
    color: white;
  }
  
  .content .social a i {
    color: rgb(236, 236, 236);
    margin-right: 20px;
    font-size: 18px;
  }
  .content .social a i:hover {
    color: white;
    transform: scale(1.4);
    transition: 0.2s;
  }
  

  .image {
   width: 100%;
    height:80%;
    /* position: relative; */
    bottom: -120px;
    left: 250px;
    /* opacity: .7; */
    z-index: -1;
 
  }
  
  .image img {
    /* width: 370px; */
    /* width:100%; */

}

.content .social {
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
}


}

@media (min-width: 1542px){

  .hero {
    background: radial-gradient(circle, rgb(114, 248, 42) 0%, rgb(92, 172, 11) 95%);
    height: 100%;
    width: 100%;
    position: relative;
  }
  .hero-body {
    width: 1800px;
    margin: 0 auto;
    height: 100vh;
    padding: 10px;
  }

  .image {
    width: 1400px;
    /* max-width: 50%; */
    height: 80%;
    position:absolute ;
    bottom: 0;
    right: 0;
  
  
  }
  
  .image img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    
  }
}